/*  EXPANDING CARDS */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
        /* If we add padding or border, it doesn't affect the width */
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
        /*  flex box needs height for justify-content:center; */
    height: 100vh;
    overflow: hidden;
        /* dont want scroll bars to interfere */
    margin: 0;
}

.container {
    display:flex;
    width: 90vw;
        /* viewport width */
}

.panel {
    background-size: auto 100%;
    /* background-size: cover; */
        /* Change background-size to cover tp preserve rounded corners on large screens */
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
        /* when have active class, will set to flex:5;*/
    margin: 10px;
    position: relative;
        /* position:relative; becaue I want to set the h3 positon to absolute */
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 100px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    /* when two classes (.panel & .active) there cannot be a space between them or the style will not apply. Must be written as (.panel.active) */
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
        /* 0.3s ease in
            delay= 0.4s */
}

    /* any styles will only take effect if the screen is under 480px */
@media(max-width: 480px){
    .container {
        width: 100vw;
    };

    .panel:nth-of-type(4), 
    .panel:nth-of-type(5) {
        display: none;
    };
}